<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Turner Fenton DECA</title>
    <meta charset="utf-8">
    <link rel="icon" href="decaLogo.png">
    <link rel="stylesheet" href="./css/userinformationStyles.css">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous">
    <script src="script.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=DM+Serif+Text&family=Gothic+A1:wght@200;300;400;500;600;700;800;900&family=IBM+Plex+Sans:wght@100;200;300;400;600&family=Lato:wght@300;400;700&family=Montserrat:wght@200;300;400;500;600;800&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet">

  </head>

  <body>
    <!-- ________________________________________________ SIDEBAR STARTS ____________________________________________________ */ -->
    <section>
      <div
        class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebarDECA"
        style="width: 280px;">
        <a href="/"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
          </svg>
          <span class="fs-4">Turner Fenton DECA</span>
        </a>

        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li>
            <a href="/landing-page" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#speedometer2"></use>
              </svg>
              Home
            </a>
          </li>
          <li>
            <a href="/choice" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#speedometer2"></use>
              </svg>
              Questions
            </a>
          </li>
          <li class="nav-item">
            <a href="/userInformation" class="nav-link active"
              aria-current="page">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#home"></use>
              </svg>
              User Information
            </a>
          </li>
        </ul>
        <hr>
        <div class="dropdown">
          <a href="#"
            class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img
              src="https://static.vecteezy.com/system/resources/thumbnails/009/734/564/small/default-avatar-profile-icon-of-social-media-user-vector.jpg"
              alt width="32" height="32" class="rounded-circle me-2">
            <strong>
              <%=username%>
            </strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow"
            aria-labelledby="dropdownUser1">
            <!-- wrap button in link to logout with no styles -->
            <li>
              <a id="logout" href="/logout"><button type="submit" class="btn btn-primary submitButton">Sign Out</button></a>
            </li>

          </ul>
        </div>
      </div>
    </section>
    /*
    <!-- ________________________________________________ SIDEBAR ENDS ____________________________________________________ -->
    */

    /*
    <!-- ________________________________________________ NAME CHANGE STARTS ____________________________________________________ -->
    */
  <section class="encapsule">
    <div class="nameChange">
      <h2 class="nameChangeTitle">Change Name</h2>
      <form class="userNameChange" method="post" action="/userInformation">
        <div class="nameChangeLabel">
          <label id="labelForNewName" class="newName" for="newName">New Name:</label>
          <input type="text" id="newName" name="newName">
        </div>
        <button class="nameChangeButton" type="submit">Change Name</button>
      </form>
    </div>

    <!-- /* <!________________________________________ Question Stats STARTS __________________________________________-> */ -->
  <div class="stats">
    <div class="numOfRight">
      <h2 class="headingForRightQuestionCounter title1">Number of Correct Questions:</h2>
      <h2 class="headingForRightQuestionCounter ans1"><%=questionsCorrect%></h2>
    </div>

    <div class="numOfWrong">
      <h2 class="headingForWrongQuestionCounter title1">Number of Incorrect Questions:</h2>
      <h2 class="headingForWrongQuestionCounter ans1"> <%=questionsWrong%></h2>
    </div>

    <div class="numOfTotalQ">
      <h2 class="headingForTotalQuestionCounter title1">Total Answered: </h2>
      <h2 class="headingForTotalQuestionCounter ans1"><%=totalQuestions%></h2>

    </div>
  </div>
    <!-- /* <!________________________________________ Question Stats ENDS __________________________________________-> */ -->

    <!-- /* <!________________________________________ LINE GRAPH STARTS __________________________________________-> */ -->
    <div class="lineGraph">
      <div id="graph-container">
        <h1 class="title1" style="text-align: center;">DECA Exam Scores</h1>
        <canvas id="lineGraph"></canvas>
      </div>

      <script>
            // Retrieve the data passed to the template
      const data = <%- JSON.stringify(latestResults) %>;

      for(var i = 0; i < data.length; i++){
        data[i] = data[i] * 100;
      }

      // Create a new Chart.js line chart
      const ctx = document.getElementById('lineGraph').getContext('2d');
      new Chart(ctx, {
        type: 'line',
        data: {
          labels: Array.from({ length: data.length }, (_, i) => i + 1), // Generate labels
          datasets: [
            {

              label: 'scores',
              fill: true,
            lineTension: 0.35,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 3,
            pointHitRadius: 10,
            data: data,
            spanGaps: false,
          }
          ]
        },
        options: {
                scales: {
                    x: {
                        display: true,
                        title: {
                            display: true,
                            text: 'Test Number',
                            color: 'black',
                            font: {
                                family: 'Montserrat',
                                size: 24,
                                weight: 600
                            }

                        }
                    },
                    y: {
                        display: true,
                        title: {
                            display: true,
                            text: 'Percent',
                            color: 'black',
                            font: {
                                sfamily: 'Montserrat',
                                size: 24,
                                weight: 600
                            }


                        }
                    }
                }
            }
        });
    </script>

    </div>
  </section>
  </body>

</html>
